# DATAFRAME3

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
from numpy.random import randn

In [5]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [7]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B']) #randn(6,2) means it will have 6 rows and 2 columns

In [9]:
df

             A         B
G1 1 -1.011313  1.800271
   2  0.372955  0.595782
   3  0.974073 -0.017323
G2 1  1.255263 -0.367737
   2  0.746360  0.106834
   3  0.542458 -0.920930

In [10]:
df.loc['G1']

          A         B
1 -1.011313  1.800271
2  0.372955  0.595782
3  0.974073 -0.017323

In [11]:
df.loc['G1'].loc[1]

A   -1.011313
B    1.800271
Name: 1, dtype: float64

In [12]:
df.index.names

FrozenList([None, None])

In [13]:
df.index.names = ['Groups','Num'] #heading of indexes

In [14]:
df

                   A         B
Groups Num
G1     1   -1.011313  1.800271
       2    0.372955  0.595782
       3    0.974073 -0.017323
G2     1    1.255263 -0.367737
       2    0.746360  0.106834
       3    0.542458 -0.920930

In [15]:
df.loc['G2'].loc[2].loc['B']

0.10683385915092793

In [16]:
#cross section xs

In [17]:
df

                   A         B
Groups Num
G1     1   -1.011313  1.800271
       2    0.372955  0.595782
       3    0.974073 -0.017323
G2     1    1.255263 -0.367737
       2    0.746360  0.106834
       3    0.542458 -0.920930

In [1]:
df.xs('G1')

NameError: name 'df' is not defined

In [29]:
df.xs(1,level = 'Num') #1 from both g1 and g2

               A         B
Groups
G1     -0.360399 -0.217169
G2     -2.460274  0.465205