# SERIES

In [1]:
import numpy as np

In [4]:
import pandas as pd

In [6]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a': 10,'b':20,'c':30}

In [9]:
pd.Series(data = my_data) #Series is case sensitive

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [14]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [15]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [17]:
pd.Series(data = labels) #series can hold any type of object

0    a
1    b
2    c
dtype: object

In [18]:
pd.Series(data =[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
ser1 = pd.Series([1,2,3,4],['USA','INDIA','THIS','THAT'])

In [21]:
ser1

USA      1
INDIA    2
THIS     3
THAT     4
dtype: int64

In [23]:
ser2 = pd.Series([1,2,5,4],['USA','INDIA','THOSE','THAT'])

In [24]:
ser2

USA      1
INDIA    2
THOSE    5
THAT     4
dtype: int64

In [26]:
ser1['INDIA'] #NOT LOCATION OF INDEEX BUT NAME/LABEL OF INDEX

2

In [27]:
ser1 + ser2

INDIA    4.0
THAT     8.0
THIS     NaN
THOSE    NaN
USA      2.0
dtype: float64

# DATA FRAME

In [31]:
from numpy.random import randn

In [32]:
np.random.seed(101)

In [33]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [34]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [35]:
# index is simply ROW NOTATION

In [39]:
df['w']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [44]:
type(df)

pandas.core.frame.DataFrame

In [45]:
type(df['w'])

pandas.core.series.Series

In [46]:
df['x']

a    0.628133
b   -0.319318
c    0.740122
d   -0.758872
e    1.978757
Name: x, dtype: float64

In [49]:
df[['w','z']] # double square bracket ##important

          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

In [53]:
df['a'] #row can't be printed like deez

KeyError: 'a'

In [54]:
df['new'] = df['w']+df['y']

In [58]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [56]:
df.drop('new')

KeyError: "['new'] not found in axis"

In [133]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [132]:
df.drop('new', axis=1) #axis =0 is for rows or horizontal refernce ; axis =1 is for vertical reference

KeyError: "['new'] not found in axis"

In [64]:
df #upper function is not saved

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [65]:
df.drop('new', axis=1, inplace =True)

In [66]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [68]:
#drop rows
df.drop('e') #not necessary to specify axis = 0

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [69]:
df.shape

(5, 4)

In [70]:
#selecting Rows
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [73]:
df.loc['a'] #method 1

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [79]:
df.iloc[2] #method 2 index number

w   -2.018168
x    0.740122
y    0.528813
z   -0.589001
Name: c, dtype: float64

In [80]:
#SUBSET
df.loc['b','y']

-0.8480769834036315

In [81]:
df.loc[['a','b'],['x','y']]

          x         y
a  0.628133  0.907969
b -0.319318 -0.848077

# DATAFRAME 2

In [82]:
df > 0

       w      x      y      z
a   True   True   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False   True
e   True   True   True   True

In [83]:
booldf = df>0

In [84]:
df[booldf]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [85]:
df[df>0]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [86]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [87]:
df['w']>0

a     True
b     True
c    False
d     True
e     True
Name: w, dtype: bool

In [89]:
df[df['w']>0] # it will only return the true values ,not NAN for false values

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [90]:
#only c column didnt appear

In [91]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [95]:
df[df['z']<0]

          w         x         y         z
c -2.018168  0.740122  0.528813 -0.589001

In [97]:
df[df['z']<0]['y'] #y's value for that cond

c    0.528813
Name: y, dtype: float64

In [98]:
df[df['z']<0][['y','x']]

          y         x
c  0.528813  0.740122

In [99]:
boolser = df['w']>0

In [100]:
boolser

a     True
b     True
c    False
d     True
e     True
Name: w, dtype: bool

In [102]:
df[(df['w']>0) and (df['y']>1)]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [103]:
df[(df['w']>0) & (df['y']>1)]

          w         x         y         z
e  0.190794  1.978757  2.605967  0.683509

In [104]:
#or 
df[(df['w']>0) | (df['y']>1)]

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [105]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [107]:
df.reset_index() #inplace = True

  index         w         x         y         z
0     a  2.706850  0.628133  0.907969  0.503826
1     b  0.651118 -0.319318 -0.848077  0.605965
2     c -2.018168  0.740122  0.528813 -0.589001
3     d  0.188695 -0.758872 -0.933237  0.955057
4     e  0.190794  1.978757  2.605967  0.683509

In [108]:
newind = 'MP UP DELHI WB HARYANA'.split()

In [109]:
newind

['MP', 'UP', 'DELHI', 'WB', 'HARYANA']

In [112]:
df['States'] = newind #adding new column

In [113]:
df #it do not store

          w         x         y         z   States
a  2.706850  0.628133  0.907969  0.503826       MP
b  0.651118 -0.319318 -0.848077  0.605965       UP
c -2.018168  0.740122  0.528813 -0.589001    DELHI
d  0.188695 -0.758872 -0.933237  0.955057       WB
e  0.190794  1.978757  2.605967  0.683509  HARYANA

In [114]:
df.set_index('States') #inplce to store

                w         x         y         z
States
MP       2.706850  0.628133  0.907969  0.503826
UP       0.651118 -0.319318 -0.848077  0.605965
DELHI   -2.018168  0.740122  0.528813 -0.589001
WB       0.188695 -0.758872 -0.933237  0.955057
HARYANA  0.190794  1.978757  2.605967  0.683509

In [115]:
df

          w         x         y         z   States
a  2.706850  0.628133  0.907969  0.503826       MP
b  0.651118 -0.319318 -0.848077  0.605965       UP
c -2.018168  0.740122  0.528813 -0.589001    DELHI
d  0.188695 -0.758872 -0.933237  0.955057       WB
e  0.190794  1.978757  2.605967  0.683509  HARYANA

# DATAFRAMES 3

In [119]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [117]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [122]:
hier_index #not like this in video

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

         0
0  (G1, 1)
1  (G1, 2)
2  (G1, 3)
3  (G2, 1)
4  (G2, 2)
5  (G2, 3)

In [123]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B']) #randn(6,2) means it will have 6 rows and 2 columns

In [124]:
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [127]:
df.loc['G1']

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528